@import "~bootstrap/scss/bootstrap";

$navbar-height: 150px;
$bgc: rgb(39,40,34);

body {
  background: $bgc;
  overflow-y: scroll !important;

  .react-json-view-container {
    position: absolute;

    margin-top: $navbar-height;
    margin-left: 15px;
  }
}





